/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-May-2019, 10:06:30
    Author     : psysiu
*/

nav li {
    display: inline;
    
}

nav a:hover {
    background-color: tomato;
}

nav a {
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    text-decoration: underline overline;
}

#right {
    float: right;
}

#right img {
    width: 200px;
}

#footer {
    clear: right;
}

.grid {
    display: grid;
    grid-gap: 10px;
}