/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-May-2019, 17:30:40
    Author     : psysiu
*/

#content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    padding: 20px;
}

p {
    text-align: justify;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(../img/background.jpeg);
}

td, th {
    padding: 10px;
}

table, tr, td, th {
    /*border: solid 2px red;*/
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-collapse: collapse;
}

th {
    text-transform: uppercase;
}